<style>
  .panel-heading {
  background-color: #CC3333;
  border-color: #be3030;
}
</style>

<div class="row">
    <div class="col-xs-3">
        
            <div class="panel panel-default">
                <div class="panel-body">
                    <font size="5" style="opacity: 0.5;">Explore.</font>
                    <p style="opacity: 0.5; font-size: 100%">
                        Posts from all users will be published here. This means you can find new people to follow and socialise with, and that
                        means more gems to share!
                    </p>
                </div>
            </div>  
            <div class="panel panel-default">
                  <div class="panel-body">
                <h5 style="color: grey; font-size: 120%">Trends</h5>
                  <a href="">#Trend1</a><br>
                      <span style="color: grey;">315k Posts</span><br></br>
                  <a href="">#Trend2</a><br>
                      <span style="color: grey;">140k Posts</span><br></br>
                  <a href="">#TrendShoe</a><br>
                      <span style="color: grey;">609k Posts</span><br></br>
                  <a href="">#TrendDriveThru</a><br>
                      <span style="color: grey;">315mil Posts</span></br>
            </div>
        </div>
    </div>
        <div class="col-xs-6">
            <%= render '/components/post_form' %><% if user_signed_in? %><% end %><br>
        
            <% for @p in @posts %>
            <div class="panel panel-default post-panel">
             <div class="panel-body">
                <div class="col-sm-5">
                   <img src="/profile.png" class="rounded-img" height="70px" width="70px"></img>
                </div>
                <div class="col-sm-6">
                    <p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %></a></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
                    <p class="post-content"><%= @p.content %></p>
                </div>
                <center>
                <div class="col-sm-12">
                  <p class="post-links">
                      
                      <% if user_signed_in? %><span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span><% end %>
                      <% if user_signed_in? %><span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span><% end %>
                      <% if user_signed_in? %><img class="imgmode g-links" src="rubyit.svg" height="5%" width="23px"></img><% end %>
                      <% if user_signed_in? %><span class="glyphicon glyphicon-trash g-links " aria-hidden="true" data-toggle="dropdown"></span><% end %>
                    
                      <a href="" style="float: right;">View Conversation</a>
                      
                  </p>
                </div>
                </center>
                                     
             </div>
            </div>
            <% end %>
        
            <div class="panel panel-default post-panel">
             <div class="panel-body row">              
                <div class="col-sm-12">
                 <center><a href="#top"><p class="opacity: 0.7;">Return to the surface</p></a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        
       
       <% if user_signed_in? %>
       <% else %>
        <div class="panel panel-heading">
              <div class="panel-body">
        <h5 style="color: white; font-size: 150%;">Sign Up</h5>
        <p style="color: white; font-size: 100%">Personalise your own profile, and meet new friends.</p>
        <a href="/users/sign_up"><li type="button" class="btn btn-sign navbar-btn">Join Rewbi</li></a>
              </div>
        </div>
        <% end %>
        
        
        <% if user_signed_in? %>
        <div class="panel panel-default">
          <div class="panel-body">
              <h5 style="color: grey; font-size: 125%;">Who to follow</h5>
              <% for @u in @toFollow do %>
                   <p style="font-weight: bold; opacity: 0.85;" ><a href="/user/<%= @u.username %>"><%= @u.username %></a></p>
              <% end %>
           </div>
      </div>
      <% end %>
        <div class="panel panel-default">
          <div class="panel-body">
        <p style="opacity: 0.5; font-size: 90%">© <%= Time.now.year %> Rewbi <br></br> <a href="/about">About</a>  |  <a href="sentto:jmcneill@orangehome.co.uk">Contact</a>  |  <a href="/advertise">Advertise</a>  |  <a href="sentto:jmcneill@orangehome.co.uk">Report</a>
            </div>
        </div>
        
        
        
    </div>
</div>
