<div class="row">
    <div class="col-xs-3">
        
        <div class="panel panel-default">
             <div class="panel-image hide-panel-body">
                <img src="/bg.png" class="panel-image-preview">
             </div>
               <div class="panel-footer">
                 <div class="row">
                    <div class="col-sm-2"><img src="/profile.png" height="70px" width="70px" class="rounded-img home-avatar"></img></div>
                    <div class="sol-sm-10"><h4 style="text-align: center;"><%= current_user.username %></h4></div>
                    <div class="col-sm-12" style="margin-top: -10px;">
                        <div class="col-sm-6" style="font-size: 80%; opacity: 0.7">Posts<br>
                        <h6 style="color: #AB2837; font-size: 250%;"><%= current_user.posts.count %></h6>
                       </div>
                       <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">Followers<br>
                        <h6 style="color: #AB2837; font-size: 250%;"><%= current_user.following.count %></h6>
                      </div>
                 </div>
                </div>
                                        
            </div>
          </div>
          
            <div class="panel panel-default">
                  <div class="panel-body">
                <h5 style="color: grey; font-size: 120%">Trends</h5>
                  <a href="">#Trend1</a><br>
                      <span style="color: grey;">315k Posts</span><br></br>
                  <a href="">#Trend2</a><br>
                      <span style="color: grey;">140k Posts</span><br></br>
                  <a href="">#TrendShoe</a><br>
                      <span style="color: grey;">609k Posts</span><br></br>
                  <a href="">#TrendDriveThru</a><br>
                      <span style="color: grey;">315mil Posts</span></br>
            </div>
        </div>
    </div>
        <div class="col-xs-6">
            <%= render '/components/post_form' %><br></br>
        
            <% for @p in @posts %>
            <div class="panel panel-default post-panel">
             <div class="panel-body">
                <div class="col-sm-5">
                   <img src="/profile.png" class="rounded-img" height="70px" width="70px"></img>
                </div>
                <div class="col-sm-6">
                    <p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %></a></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
                    <p class="post-content"><%= @p.content %></p>
                </div>
                <center>
                <div class="col-sm-12">
                  <p class="post-links">
                      
                      <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                      <img class="imgmode g-links" src="rubyit.svg" height="5%" width="23px"></img>
                      <span class="glyphicon glyphicon-trash g-links " aria-hidden="true" data-toggle="dropdown"></span>
                      <a href="">View Conversation</a>
                      
                  </p>
                </div>
                </center>
                                     
             </div>
            </div>
            <% end %>
        
            <div class="panel panel-default post-panel">
             <div class="panel-body row">              
                <div class="col-sm-12">
                 <center><a href="#top"><p class="opacity: 0.7;">Return to the surface</p></a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
        <p style="opacity: 0.5; font-size: 90%">© <%= Time.now.year %> Rewbi <br></br> <a href="/about">About</a>  |  <a href="sentto:jmcneill@orangehome.co.uk">Contact</a>  |  <a href="/advertise">Advertise</a>  |  <a href="sentto:jmcneill@orangehome.co.uk">Report</a>
            </div>
        </div>
    </div>
</div>

